{% load static %}
<link rel="stylesheet" href="{% static 'music/index.css' %}">

<div class="container">
    <div class="track-list-container section">
        <div class="title">Tracks</div>
        {% if trackList %}
        <ul class="track-wrapper">
            {% for track in trackList %}
            <li class="track">
                <a href="/music/track/{{track.id}}">
                    <span class="track-title">{{track.title}}</span>

                    {% if track.getGenresAsString %}
                <span class="genres">
                    {{ track.getGenresAsString }}
                </span>
                    {% endif %}

                <span class="ratings-section">
                    {% for rating in track.getRatingIterable %}
                    <span class="star completed"></span>
                    {% endfor %}

                    {% for rating in track.getRemainingRatingiterable %}
                    <span class="star"></span>
                    {% endfor %}
                </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="info-wrapper">
            <p>No Tracks Added Yet</p>
        </div>
        <div class="action-btn">
            <a href="/music/track/add">Add New Track</a>
        </div>
        {% endif %}

        <div class="action-btn">
            <a href="/music/tracks">View All Tracks</a>
        </div>
    </div>

    <div class="genre-list-container section">
        <div class="title">Genres</div>
        {% if genreList %}
        <ul>
            {% for genre in genreList %}
            <li>
                <a href="/music/genre/{{genre.id}}">{{genre.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="info-wrapper">
            <p>No Genres Added Yet</p>
        </div>
        <div class="action-btn">
            <a href="/music/track/add">Add New Genre</a>
        </div>
        {% endif %}

        <div class="action-btn">
            <a href="/music/genres">View All Genres</a>
        </div>
    </div>
</div>